<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anonymous Chat Room</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" />
  </head>
  <body class="text-center">
    <form action="{{ url_for('chat') }}" class="form-signin" method="post">
      <h1 class="mb-3 font-weight-normal">Anonymous Chat Room</h1>
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        placeholder="username"
        required
        autofocus
      />
      <br />
      <input
        type="text"
        name="room"
        id="room"
        class="form-control"
        placeholder="room"
        required
      />
      <br />
      <center>
        <button class="btn btn-lg btn-primary w-100" value="submit">
          Start Chat
        </button>
      </center>
    </form>
  </body>
</html>
